<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxpublish.brain.editorial.mapper.EditorialReviewMapper">

    <sql id="selectEditorialReviewPageItemVo">
        SELECT r.id,
               r.title,
               r.status,
               r.review_status,
               r.process_type,
               r.create_time,
               r.user_id,
               r.dept_id
        FROM brain_editorial_review r
    </sql>

    <sql id="dataScopeCondition">
        <choose>
            <when test="params.scopeParam.isAdmin != null and params.scopeParam.isAdmin == true">
            </when>
            <otherwise>
                AND (
                    1 = 0
                    <if test="params.scopeParam.isApplicant != null and params.scopeParam.isApplicant == true">
                        OR r.user_id = #{params.scopeParam.userId}
                    </if>
                    <if test="params.scopeParam.isApprover != null and params.scopeParam.isApprover == true and params.scopeParam.visibleStatuses != null and params.scopeParam.visibleStatuses.size() > 0">
                        OR r.review_status IN
                        <foreach item="status" collection="params.scopeParam.visibleStatuses" open="(" separator="," close=")">
                            #{status}
                        </foreach>
                    </if>
                    <if test="params.scopeParam.userId != null">
                        OR r.user_id = #{params.scopeParam.userId}
                        OR EXISTS (
                            SELECT 1
                            FROM flow_instance fi
                            INNER JOIN flow_his_task fht ON fi.id = fht.instance_id
                            WHERE fi.business_id = CAST(r.id AS CHAR)
                              AND fht.approver = CAST(#{params.scopeParam.userId} AS CHAR)
                        )
                    </if>
                )
            </otherwise>
        </choose>
    </sql>

    <select id="customSelectPage" resultType="com.gxpublish.brain.editorial.domain.vo.EditorialReviewPageItemVo">
        <include refid="selectEditorialReviewPageItemVo"/>
        <where>
            r.del_flag = '0'
            <if test="bo != null and bo.title != null and bo.title != ''">
                AND r.title LIKE concat('%', #{bo.title}, '%')
            </if>
            <if test="bo != null and bo.status != null and bo.status != ''">
                AND r.status = #{bo.status}
            </if>
            <if test="bo != null and bo.userId != null">
                AND r.user_id = #{bo.userId}
            </if>
            <if test="bo != null and bo.processType != null and bo.processType != ''">
                AND r.process_type = #{bo.processType}
            </if>
            <if test="params != null and params.scopeParam != null">
                <include refid="dataScopeCondition"/>
            </if>
        </where>
        ORDER BY r.create_time DESC
    </select>

    <select id="customSelectList" resultType="com.gxpublish.brain.editorial.domain.vo.EditorialReviewPageItemVo">
        <include refid="selectEditorialReviewPageItemVo"/>
        <where>
            r.del_flag = '0'
            <if test="bo != null and bo.title != null and bo.title != ''">
                AND r.title LIKE concat('%', #{bo.title}, '%')
            </if>
            <if test="bo != null and bo.status != null and bo.status != ''">
                AND r.status = #{bo.status}
            </if>
            <if test="bo != null and bo.userId != null">
                AND r.user_id = #{bo.userId}
            </if>
            <if test="bo != null and bo.processType != null and bo.processType != ''">
                AND r.process_type = #{bo.processType}
            </if>
            <if test="params != null and params.scopeParam != null">
                <include refid="dataScopeCondition"/>
            </if>
        </where>
        ORDER BY r.create_time DESC
    </select>

    <select id="selectCurrentTaskContext" resultType="com.gxpublish.brain.editorial.domain.vo.EditorialReviewTaskContextVo">
        SELECT i.business_id AS review_id,
               t.id          AS task_id,
               t.instance_id AS instance_id,
               t.node_code,
               t.node_name
        FROM flow_task t
                 INNER JOIN flow_instance i ON i.id = t.instance_id AND i.del_flag = '0'
                 INNER JOIN flow_user u ON u.associated = t.id AND u.del_flag = '0'
        WHERE t.del_flag = '0'
          AND t.node_type = 1
          AND i.business_id = #{reviewId}
          AND u.processed_by = #{processedBy}
          AND u.type IN ('1', '2', '3')
        ORDER BY t.create_time DESC
        LIMIT 1
    </select>

    <select id="selectCurrentTaskContexts" resultType="com.gxpublish.brain.editorial.domain.vo.EditorialReviewTaskContextVo">
        SELECT i.business_id AS review_id,
               t.id          AS task_id,
               t.instance_id AS instance_id,
               t.node_code,
               t.node_name
        FROM flow_task t
                 INNER JOIN flow_instance i ON i.id = t.instance_id AND i.del_flag = '0'
                 INNER JOIN flow_user u ON u.associated = t.id AND u.del_flag = '0'
        WHERE t.del_flag = '0'
          AND t.node_type = 1
          AND u.processed_by = #{processedBy}
          AND u.type IN ('1', '2', '3')
          AND i.business_id IN
        <foreach item="reviewId" collection="reviewIds" open="(" separator="," close=")">
            #{reviewId}
        </foreach>
        ORDER BY t.create_time DESC
    </select>

</mapper>
